pkgs/configuration/configuration.json
*.log
.vscode
__debug*

test/loadtest/results.json
rideshare
pkgs/configuration/*.json
location/scrapper/.venv
meili_data
docker/logs

docker/configuration.json
docker/sathsawari-935e4-firebase-adminsdk-fbsvc-bdf6727dee.json
*.tar.gz

recourse_stats.json
api_stats*.json
